<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Alexandra App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to current_user.email, root_path %></li>
          <li><%= link_to "Employers", employer_index_path %></li>
          <li><%= link_to "Employees", employee_index_path %></li>
          <li><%= link_to "Budgets", budget_index_path %></li>
          <li><%= link_to "Timesheets", timesheet_index_path %></li>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", login_path  %></li>
          <li><%= link_to "Register", register_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>